@import "./public";
.step-content() {
 // padding: 0 24px 24px;
 // background: rgba(255, 255, 255, 1);
  .title {
    // prettier-ignore
    font-size: 24PX;
    color: rgba(48, 49, 51, 1);
    line-height: 32px;
    margin: 24px 0;
  }
  .split-line {
    height: 1px;
    display: block;
    background: rgba(240, 242, 245, 1);
  }
  .input-group {
    @width: 506px;
    margin-top: 35px;
    &:first-of-type {
      margin-top: 16px;
    }
    &.is-required {
      .input-head {
        &::before {
          content: "";
          margin-right: 8px;
          border-radius: 50%;
          width: 6px;
          height: 6px;
          background: rgba(246, 47, 47, 1);
        }
      }
    }
    .input-head {
      width: @width;
      // prettier-ignore
      font-size: 16PX;
      // prettier-ignore
      line-height: 21px;
      color: rgba(48, 49, 51, 1);
      font-weight: bold;
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      // justify-content: space-between;
      .inline-btn {
        color: #247257;
        font-size: inherit;
        font-weight: normal;
        flex: 1;
        text-align: right;
        cursor: pointer;
      }
    }
    .tag-content {
      margin-bottom: 16px;
      /deep/.el-tag {
        height: 36px;
        line-height: 34px;
        // prettier-ignore
        font-size: 16PX;
        color: rgba(48, 49, 51, 1);
        & + .el-tag {
          margin-left: 8px;
        }
      }
    }
    .alert-content {
      padding: 16px 0;
      // prettier-ignore
      font-size: 16PX;
      width: @width;
      box-sizing: border-box;
      text-indent: 24px;
      margin-top: 16px;
      &.warning {
        background: rgba(255, 150, 0, 0.07);
        color: rgba(255, 150, 0, 1);
      }
    }
    .input-assist-tips {
      width: @width;
      // prettier-ignore
      font-size: 16PX;
      color: rgba(48, 49, 51, 1);
      margin-bottom: 16px;
    }
    .input-pack {
      display: flex;
      .input();
      .inline-remove-btn {
        // prettier-ignore
        font-size: 18PX;
        color: rgba(243, 58, 58, 1);
        cursor: pointer;
        align-self: center;
        margin-left: 16px;
      }
    }
    .input-content {
      width: @width;
      height: 48px;
      .input;
    }
    .radio-content {
      cursor: pointer;
      display: inline-block;
      & + .radio-content {
        margin-left: 16px;
      }
      input[type="radio"] {
        display: none;
      }
      input[type="radio"]:checked + .radio-title {
        background: @backgroud;
        color: rgba(255, 255, 255, 1);
      }
      .radio-title {
        width: 103px;
        height: 48px;
        background: rgba(240, 242, 245, 1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        // prettier-ignore
        font-size: 16PX;
        color: rgba(144, 147, 153, 1);
        // prettier-ignore
        line-height: 21PX;
      }
    }
    .primary-btn {
      min-width: 86px;
      height: 48px;
      // prettier-ignore
      font-size: 16PX
    }
    .checkbox-content {
      cursor: pointer;
      display: inline-block;
      margin-right: 16px;
      input[type="checkbox"] {
        display: none;
      }
      input[type="checkbox"]:checked + .checkbox-title {
        background: @backgroud;
        color: rgba(255, 255, 255, 1);
      }
      .checkbox-title {
        height: 48px;
        background: rgba(240, 242, 245, 1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        // prettier-ignore
        font-size: 16PX;
        color: rgba(144, 147, 153, 1);
        // prettier-ignore
        line-height: 21PX;
        margin-bottom: 16px;
        padding: 0 16px;
      }
    }
  }
}
.error-tips {
  .error-tips();
}
.after-error-tips {
  .after-error-tips();
}
.pop-content {
  margin-top: 40px !important;
}
.split-step-content {
  height: 16px;
  background: #f4f4f4;
  display: block;
}
.options-item {
  .el-select-dropdown__item {
    height: 48px;
    line-height: 48px;
    font-size: 16px;
  }
}