.input() {
    /deep/.el-input__inner,/deep/.el-textarea__inner {
        height: 48px;
        line-height: 48px;
        border-radius: 4px;
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(206, 206, 206, 1);
        font-size: 16PX;
        font-family:MicrosoftYaHei;
        &::placeholder {
            font-size: 16PX;
            color: rgba(144, 147, 153, 1);
            font-family:MicrosoftYaHei;
        }

        &:focus {
            border-color: var(--color--primary);
        }
    }
    /deep/ .suffix-tips{
        font-size: 16px;
        font-style:normal;
        line-height: 48px;
        margin-right: 16px;
    }
    /deep/.el-icon-arrow-up{
        font-size: 16PX;
        &::before{
            content: "\e790";
        }
    }
    /deep/.el-input__clear {
        font-family: "iconfont" !important;
        font-size: 18PX;

        &::before {
            content: "\e644";
        }
    }
    
}
/deep/.el-input--prefix .el-input__inner {
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(206, 206, 206, 1);
    font-size: 16PX;
    font-family:MicrosoftYaHei;
    &::placeholder {
        font-size: 16PX;
        color: rgba(144, 147, 153, 1);
        font-family:MicrosoftYaHei;
    }

    &:focus {
        border-color: var(--color--primary);
    }
}
/deep/ .el-range-editor.el-input__inner {
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(206, 206, 206, 1);
    font-size: 16PX;
    font-family:MicrosoftYaHei;
    &::placeholder {
        font-size: 16PX;
        color: rgba(144, 147, 153, 1);
        font-family:MicrosoftYaHei;
    }

    &:focus {
        border-color: var(--color--primary);
    }
}
/deep/ .el-range-editor .el-range-input {
    font-family:MicrosoftYaHei;
    font-size: 16PX;
}
/deep/ .el-textarea__inner {
    font-family:MicrosoftYaHei;
    font-size: 16PX;
}

.error-tips() {
    .input-content {
        /deep/.el-input__inner {
            background: rgba(255, 242, 242, 1) !important;
            border: 1px solid rgba(243, 58, 58, 1) !important;

            &::placeholder {
                color: rgba(243, 58, 58, 1) !important;
            }
        }
    }
}

.after-error-tips() {
    position: relative;

    &::after {
        content: attr(data-error);
        color: rgba(243, 58, 58, 1);
        //prettier-ignore
        font-size: 12PX;
        left: 0px;
        bottom: -5px;
        position: absolute;
        transform: translateY(100%);
    }
}